<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>menu</title>
		<link rel = "stylesheet" th:href = "@{/css/style.css}">
	</head>
	<body>
		<!--brouzer-->
		<div id="wrap">
		
			<!--header-->
			<header>
				<div class = "container">
					<h1>book managiment system Spring ver.0.5</h1>
				</div>
			</header>
			
			<!--menu-->
			<div id = "menu">
				<div class = "container">
					
					<!--title page-->
					<div id = "page_title">
						<h2>menu</h2>
					</div>
				</div>
			</div>
		
			<!--content of menu -->
			<div id = "main" class = "container">
				<li><a href="/list">[book list]</a></li>
			</div>
		
			<!--footer-->
			<footer>
				<div classs = "container">
					<h4>Copyright&copy; 2023 All Right Reserved. </h4>
				</div>
			</footer>
		</div>
	</body>
</html>